* {box-sizing: border-box;}

html, body {height: 100%;}

img {width: 100%;}

.row {
  display: flex;
  flex-direction: column;
}

.row-inline {
  flex-direction: row;
}

.col {
  flex: 1;
  padding: 0 15px;
}

/*blue box*/

.div1 {
  background-color: #075AFF;
  /*height: 100%;*/
}

.picture {
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 5px black;
}

.howdie {
  color: #7DABFA;
  text-align: center;
}

.imcam {
  color: white;
  text-align: center;

}

.button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin-left: 110px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 200px;
  margin-bottom: 40px;
}

.blue {
  color: #075AFF;
}

.gray {
  color: #767676;
}

.white {
  color: white;
  font-size: 10px;
}
/*blue box end*/

.column {
  display: flex;
  flex-direction: column;
}

.column-left {
  text-align: left;
  flex-direction: column;
  flex: 2;
}

.column-right {
  text-align: right;
}

ul {
  padding: 0;
  li {
    list-style-type: none;
    margin-bottom: : 30px;
  }
}
.fa-angle-right {
  margin-right: 10px;
  color: blue;
}

.buttonarrow {
  margin-left: 80px;
}

.topicarrow {
  margin-left: 20px;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .row {
    flex-direction: row;
  }
  .li {
    list-style: none;
  }
  .margin {
    margin-left: 20px;
  }
  .picture {
    margin-top: 100px;
    margin-left: 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 5px black;
  }
  .button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-left: 25px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 200px;
    margin-bottom: 40px;
  }
}
  @media screen and (min-width: 768px) {
    .row {
      flex-direction: row;
    }
    .desktop {
      flex: 3;
    }
    .li {
      list-style: none;
    }
    .margin {
      margin-left: 20px;
    }
    .picture {
      margin-top: 100px;
      margin-left: 10px;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      box-shadow: 1px 1px 5px black;
    }
    .button {
      background-color: transparent;
      border: 2px solid white;
      color: white;
      margin-left: 25px;
      text-align: left;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      width: 200px;
      margin-bottom: 40px;
    }
  }
